@media screen and (max-width: 640px){
    .hamburger-menu {
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        left: 0;
        top: 16px;
    }

    .hamburger-menu .bar1, .bar2, .bar3 {
        height: 3px;
        width: 25px;
        background-color: var(--headingc);
        margin: 2.5px;
    }
    
    .github {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .github h1 {
        font-size: 25px;
    }
    
    .github p {
        font-size: 10px;
    }
    
    .navbar {
        height: 0px;
        overflow: hidden;
        display: inline-grid;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
    }
    
    .navlist li {
        display: block;
        margin: 0px;
    }

}

@media screen and (max-width: 875px){
    .introductionContainer {
        grid-column-start: 1 !important;
        grid-column-end: 3 !important;
        height: 100%;
        max-height: 100% !important;
    }
    
    .skillsContainer {
        grid-column-start: 1 !important;
        grid-column-end: 3 !important;
    }
}

@media screen and (max-width: 660px) {
    .profile-name p {
        float: left;
        width: 50px;
        margin: 10px 10px 0px 15px !important;
        color: whitesmoke;
        font-weight: 500;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .hamburger-menu {
        transform: scale(0.8);
        top: 12.50px;
    }
    .github h1 {
        font-size: 20px;
    }
    .github p {
        font-size: 9px;
    }
}