@media screen and (max-width: 640px){

    .hamburger-menu {
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        left: 0;
        top: 16px;
    }

    .hamburger-menu .bar1, .bar2, .bar3 {
        height: 3px;
        width: 25px;
        background-color: var(--headingc);
        margin: 2.5px;
    }
    
    .github {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .github h1 {
        font-size: 25px;
    }
    
    .github p {
        font-size: 10px;
    }
    
    .navbar {
        height: 0px;
        overflow: hidden;
        display: inline-grid;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
    }
    
    .navlist li {
        display: block;
        margin: 0px;
    }

}

@media screen and (max-width: 900px){
    .section-container {
        grid-gap: 10px 10px !important;
    }

    .introductionContainer {
        grid-column: 1 / span 2 !important;
        height: 100%;
        max-height: 100% !important;
    }
    
    .skillsContainer {
        grid-column: 1 / span 2 !important;
        grid-row: 2 / span 3 !important;
        margin: 0px !important;
    }

    .section-blog-container {
        grid-column: 1 / span 2 !important;
        grid-row: 5 / span 3 !important;
        margin: 0px 0px !important;
    }

    .section-blog-container .blog-description {
        font-size: 16px !important;
    }

    .advertisement-container {
        grid-column: 1 / span 2 !important;
        grid-row: 8 / span 35 !important;
    }
}

/* @media screen and (max-width: 1005px) {
    .section-blog-container {
        margin: 10px  0px!important;
    }
} */

@media screen and (max-width: 660px) {

    .main {
        margin: -35px 0px 0px 0px !important;
        padding: 10px 10px 10px 10px !important;
    }

    .profile-name p {
        float: left;
        width: 50px;
        margin: 10px 10px 0px 15px !important;
        color: whitesmoke;
        font-weight: 500;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .hamburger-menu {
        transform: scale(0.8);
        top: 12.50px;
    }
    .github h1 {
        font-size: 20px;
    }
    .github p {
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {

    .main {
        padding: 10px 10px 10px 10px !important;
    }

    .p-title h3 {
        font-size: 16px;
    }

    .section-blog-container .blog-post {
        width: 100% !important;
        height: 100px !important;
    }

    .blog-post img {
        width: 100px !important;
        height: 100px !important;
    }

    .blog-post .blog-title {
        font-size: 12px !important;
    }

    .blog-post .blog-description {
        font-size: 10px !important;
    }

    .readmore {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 400px) {

    .p-title h3 {
        font-size: 12px;
    }

    .blog-post .blog-description {
        font-size: 9px !important;
        padding: 5px !important;
        height: 50px !important;
    }

    .readmore {
        font-size: 9px !important;
    }

    .main {
        padding: 10px 10px 10px 10px !important;
    }

    /* Blog.css */
    .blog-post-thumnail {
        float: none !important;
    }

    .blog-post-thumnail {
        height: 100% !important;
        width: 100% !important;
    }
    
    .blog-post-thumnail img{
        height: 100% !important;
        width: 100% !important;
    }
    /* Blog.css */
}

@media screen and (max-width: 330px) {
    .blog-post .blog-description {
        font-size: 8px !important;
        padding: 5px !important;
        height: 50px !important;
    }
    .readmore {
        font-size: 8px !important;
    }
}

@media screen and (max-width: 360px) {
    .pagination{
        display: none;
    }
    .ps-next, .ps-previous {
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 415px) {
    .blog-post .blog-description {
        font-size: 9px !important;
        padding: 5px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 370px) {
    .blog-post .blog-description {
        font-size: 8px !important;
        padding: 5px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 359px) {
    .section-live-coronavirus-report h1 {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 850px) {
    .section-live-coronavirus-report .live-reports {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    }

    .c-cases {
        margin-bottom: 10px !important;
    }
    .c-recovered {
        margin-bottom: 10px !important;
    }
    .c-deaths {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 530px) {
    .section-live-coronavirus-report h1 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 430px) {
    .section-live-coronavirus-report h1 {
        font-size: 16px !important;
    }
}