.container {
    margin: 0 auto;
    max-width: 800px;
}

.github {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #272727;
}

.github h1 {
    text-align: center;
    color: var(--headingc);
    font-size: 48px;
}

.github p {
    text-align: center;
    color: var(--copyright-c);
    font-size: 14px;
}

.github a {
    color: var(--copyright-c);
}

.header {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1000px;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: var(--headingc);
    border-radius: 0px 0px 5px 5px;
    margin: 0px 0px 10px 0px;
}

.navlist {
    list-style: none;
    float: left;
}

.navlist li {
    line-height: 49px;
    display: inline-block;
    align-self: center;
    margin: 0 10px;
}

.navlist a {
    text-decoration: none;
    font-weight: 500;
    color: #292929;
    transition: all 150ms ease-out;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
}

.navlist a:hover {
    color: white;
    background-color: var(--hover-links);
}

.search-bar {
    float: right;
    line-height: 49px;
}

.search-bar input[type="text"] {
    border-radius: 5px;
    border: none;
    padding: 8px;
    outline: none;
    font-family: var(--default-font);
    transition: all ease-out 150ms;
    width: 150px;
}

.search-bar input[type="text"]:focus {
    width: 250px;
}

.search-bar button{
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -3px 0px #2b7036;
    padding: 7px;
    margin: 10px;
    background-color: var(--headingc);
    outline: none;
    color: #272727;
    transition: all 50ms ease-out;
    border: 1px solid var(--github-bg);
}

.search-bar button:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px transparent;
}